#favouritesPanel {
  color: #fff;
  position: relative;
  top: -30px;
  width: 62vw;
  background-color: #111111;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  height: 80vh;
  border: 1px solid #424242;
}
#favouritesPanel h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
#favouritesPanel .favourite {
  width: 62vw;
  height: 8vh;
  display: block;
  text-align: center;
  border-bottom: 1px solid silver;
}
#favouritesPanel .favourite img {
  padding: 10px;
  width: 80px;
  min-width: 50px;
  border-radius: 16px;
}
#favouritesPanel .favourite .image {
  height: 100%;
  width: 6vw;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #424242;
}
#favouritesPanel .favourite .text {
  float: left;
  width: 56vw;
  height: 7.9vh;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.5vh;
}
@media only screen and (max-width: 680px) {
  #favouritesPanel .favourite {
    height: 12.5vh;
  }
  #favouritesPanel .favourite .text {
    width: 52vw;
    height: 12.5vh;
  }
  #favouritesPanel .favourite .image {
    width: 10vw;
  }
  #favouritesPanel {
    top: 0px;
  }
}
