#favouritesPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 62vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  height: 80vh;
}
#favouritesPanel h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
#favouritesPanel .favourite {
  width: 62vw;
  height: 8vh;
  display: block;
  text-align: center;
  border-bottom: 1px solid silver;
}
#favouritesPanel .favourite img {
  padding: 10px;
  width: 80px;
  min-width: 50px;
}
#favouritesPanel .favourite .image {
  height: 100%;
  width: 4vw;
  min-width: 40px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0d0c16;
}
#favouritesPanel .favourite .text {
  float: left;
  width: 58vw;
  height: 7.9vh;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.5vh;
}
@media only screen and (max-width: 1000px) {
  #favouritesPanel .favourite .text {
    width: 56vw;
  }
}
@media only screen and (max-width: 667px) {
  #favouritesPanel .favourite .text {
    width: 54vw;
  }
}
