#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 72px);
  height: calc(100vh - 60px);
  top: 60px;
  left: 72px;
  background-color: #0e1011;
  color: #fff;
}
@media screen and (max-width: 680px) {
  #home {
    width: 100vw;
    left: 0;
    height: calc(100vh - 120px);
  }
}
