#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 80px);
  height: 100vh;
  left: 62px;
  top: 60px;
  background-color: #25223b;
  color: #fff;
}
.navbar.active ~ #home {
  width: calc(100vw - 220px);
  left: 220px;
}
