@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quicksand:wght@700&display=swap');

#productPage {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#productInformations {
  padding: 8px;
  width: calc(100vw - 88px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#productInformations #images {
  border-radius: 12px 0px 0px 12px;
  display: block;
  float: left;
  height: 55vh;
  width: 6vh;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid rgba(13, 12, 22, 0.2);
}
#productInformations #images img {
  padding: 10px;
  min-width: 40px;
}
#productInformations #images img.selected {
  border: 1px solid rgba(13, 12, 22, 0.92);
  border-radius: 12px 0px 0px 12px;
}
#productInformations #highresImages {
  float: left;
  width: 20vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
#productInformations #highresImages img {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  height: 0;
  overflow: hidden;
}
#productInformations #highresImages img.highresSelected {
  opacity: 1;
  height: auto;
  max-width: 18vw;
  max-height: 40vh;
}

#productInformations #productData {
  float: left;
  width: 20vw;
  height: 55vh;
  border: 1px solid rgba(13, 12, 22, 0.2);
  border-radius: 0px 12px 12px 0px;
  background-color: #fff;
  color: rgba(13, 12, 22, 0.92);
  text-align: center;
  position: relative;
}
#productData #productBasicInformations {
  display: inline-block;
  width: 94%;
}
#productData #productBasicInformations h1,
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8vh;
  font-weight: 500;
}
#productData #productBasicInformations #reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
#productData #productBasicInformations #reviews h4 {
  padding-left: 6px;
  font-weight: 400;
}
#productData #productBasicInformations #reviews .icons {
  font-size: 18px;
}
#productData .productDetails,
#productData .productAbout,
#productData .productTechnicalDetails {
  width: 94%;
  display: inline-block;
  text-align: left;
}
#productData .productDetails .productDetailsHeaderAndButton,
#productData .productAbout .productAboutHeaderAndButton,
#productData .productTechnicalDetails .productTechnicalDetailsHeaderAndButton {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8vh;
  padding-bottom: 5px;
  display: flex;
}
#productData .productDetails .productDetailsHeaderAndButton button,
#productData .productTechnicalDetails .productTechnicalDetailsHeaderAndButton button,
#productData .productAbout .productAboutHeaderAndButton button {
  margin-left: auto;
}
#productData .productDetails .productDetailsContent,
#productData .productAbout .productAboutContent,
#productData .productTechnicalDetails .productTechnicalDetailsContent {
  max-height: 0;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 1.8vh;
  line-height: 24px;
  transition: opacity 0.5s linear, max-height 0.2s ease-in-out;
  visibility: invisible;
  opacity: 0;
}
#productData .productDetails .productDetailsContent.expand::-webkit-scrollbar,
#productData .productAbout .productAboutContent.expand::-webkit-scrollbar,
#productData .productTechnicalDetails .productTechnicalDetailsContent.expand::-webkit-scrollbar {
  transition: 0.5s ease-in-out;
  background-color: rgba(37, 34, 59, 0.7);
}
#productData .productDetails .productDetailsContent.expand,
#productData .productAbout .productAboutContent.expand,
#productData .productTechnicalDetails .productTechnicalDetailsContent.expand {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  max-height: calc(15vw);
}
#productData .productDetails .productDetailsContent ol,
#productData .productAbout .productAboutContent ol,
#productData .productTechnicalDetails .productTechnicalDetailsContent ol {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0px 2px 2px 12px;
}
#productData .productDetails .productDetailsContent li,
#productData .productAbout .productAboutContent li,
#productData .productTechnicalDetails .productTechnicalDetailsContent li {
  margin: 4px;
}
#productData .productDetails .productDetailsContent li span,
#productData .productAbout .productAboutContent li span,
#productData .productTechnicalDetails .productTechnicalDetailsContent li span {
  position: relative;
  left: -10px;
}
#productData #favourites {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  font-size: 22px;
  transition: 0.2s ease-in-out;
}
#productData #favourites:hover {
  cursor: pointer;
  color: #000000;
  transition: 0.2s ease-in-out;
}

/*Price chart */

#productPriceDiv {
  padding: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 80px);
  height: 65vh;
  text-align: center;
  background-color: #25223b;
}

@keyframes delay-overflow {
  from {
    overflow: auto;
  }
}
