@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quicksand:wght@700&display=swap');

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#productPage {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#productInformations {
  padding: 8px;
  width: calc(100vw - 88px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#productInformations #images {
  border-radius: 12px 0px 0px 12px;
  display: block;
  float: left;
  height: 55vh;
  width: 6vh;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid rgba(13, 12, 22, 0.2);
  overflow-x: hidden;
  overflow-y: hidden;
}
#productInformations #images img {
  padding: 10px;
  min-width: 40px;
}
#productInformations #images img.selected {
  border: 1px solid rgba(13, 12, 22, 0.92);
  border-radius: 12px 0px 0px 12px;
}
#productInformations #highresImages {
  float: left;
  width: 20vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
#productInformations #highresImages img {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  height: 0;
  overflow: hidden;
}
#productInformations #highresImages img.highresSelected {
  opacity: 1;
  height: auto;
  max-width: 18vw;
  max-height: 40vh;
}
#productInformations #productData {
  float: left;
  width: 20vw;
  height: 55vh;
  border: 1px solid rgba(13, 12, 22, 0.2);
  border-radius: 0px 12px 12px 0px;
  background-color: #fff;
  color: rgba(13, 12, 22, 0.92);
  text-align: center;
  position: relative;
}
#productData #productBasicInformations {
  display: inline-block;
  width: 94%;
}
#productData #productBasicInformations #productBasicInformationsText {
  width: 100%;
  min-height: 60px;
  height: fit-content;
  text-align: center;
}
#productData #productBasicInformations h1,
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8vh;
  font-weight: 500;
}
#productData #productBasicInformations #reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
#productData #productBasicInformations #reviews h4 {
  padding-left: 6px;
  font-weight: 400;
}
#productData #productBasicInformations #reviews .icons {
  font-size: 18px;
}
#productData .productDetails,
#productData .productAbout,
#productData .productTechnicalDetails {
  width: 94%;
  display: inline-block;
  text-align: left;
}
#productData .productDetails .productDetailsHeaderAndButton,
#productData .productAbout .productAboutHeaderAndButton,
#productData .productTechnicalDetails .productTechnicalDetailsHeaderAndButton {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8vh;
  padding-bottom: 5px;
  display: flex;
}
#productData .productDetails .productDetailsHeaderAndButton button,
#productData .productTechnicalDetails .productTechnicalDetailsHeaderAndButton button,
#productData .productAbout .productAboutHeaderAndButton button {
  margin-left: auto;
}
#productData .productDetails .productDetailsContent,
#productData .productAbout .productAboutContent,
#productData .productTechnicalDetails .productTechnicalDetailsContent {
  max-height: 0;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 1.8vh;
  line-height: 24px;
  transition: opacity 0.5s linear, max-height 0.2s ease-in-out;
  visibility: invisible;
  opacity: 0;
}
#productData .productDetails .productDetailsContent.expand::-webkit-scrollbar,
#productData .productAbout .productAboutContent.expand::-webkit-scrollbar,
#productData .productTechnicalDetails .productTechnicalDetailsContent.expand::-webkit-scrollbar {
  transition: 0.5s ease-in-out;
  background-color: rgba(37, 34, 59, 0.7);
}
#productData .productDetails .productDetailsContent.expand,
#productData .productAbout .productAboutContent.expand,
#productData .productTechnicalDetails .productTechnicalDetailsContent.expand {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  max-height: calc(13vw);
}
#productData .productDetails .productDetailsContent ol,
#productData .productAbout .productAboutContent ol,
#productData .productTechnicalDetails .productTechnicalDetailsContent ol {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0px 2px 2px 12px;
}
#productData .productDetails .productDetailsContent li,
#productData .productAbout .productAboutContent li,
#productData .productTechnicalDetails .productTechnicalDetailsContent li {
  margin: 4px;
}
#productData .productDetails .productDetailsContent li span,
#productData .productAbout .productAboutContent li span,
#productData .productTechnicalDetails .productTechnicalDetailsContent li span {
  position: relative;
  left: -10px;
}
#productData #favourites {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 0;
  height: 0;
  font-size: 24px;
  transition: 0.2s ease-in-out;
}
#productData #favourites:hover {
  cursor: pointer;
  color: #000000;
  transition: 0.2s ease-in-out;
}

/*Price chart */

#productPriceDiv {
  padding: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 80px);
  height: 65vh;
  text-align: center;
  background-color: #25223b;
}

/* Skeleton loading setup */
@keyframes skeleton-animation {
  0% {
    background-color: hsl(0, 0%, 90%);
  }

  100% {
    background-color: hsl(0, 0%, 100%);
  }
}
.skeleton-loading {
  animation: skeleton-animation 1s linear infinite alternate;
}
.skeleton-images {
  width: 70px;
  height: 3.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid hsl(0, 0%, 86%);
}
.skeleton-highresimage {
  opacity: 1;
  width: 19vw;
  height: calc(16vw - 2vh);
  border: 1px solid hsl(0, 0%, 86%);
}
.skeleton-text {
  width: 100%;
  height: 1.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid hsl(0, 0%, 86%);
}
.skeleton-ratings {
  width: 60%;
  height: 1.2rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.2rem;
  border: 1px solid hsl(0, 0%, 86%);
}
.skeleton-small-text {
  width: 15%;
  height: 1.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid hsl(0, 0%, 86%);
}
.skeleton-small-text:last-child {
  margin-left: 1rem;
}
.skeleton-chart {
  width: 40vw;
  min-width: 400px;
  height: calc(10vw + 14vh);
  padding: 20px;
  margin-bottom: 1.5rem;
  border-radius: 0.2rem;
  border: 1px solid hsl(0, 0%, 86%);
}

@media screen and (max-width: 680px) {
  #productInformations {
    width: 100%;
  }
  #productInformations #images {
    width: 12vw;
  }
  #productInformations #images img {
    padding: 10px;
    width: auto;
  }
  #productInformations #highresImages {
    width: 35vw;
  }
  #productInformations #productData {
    width: 40vw;
  }
  #productData .productDetails .productDetailsContent.expand,
  #productData .productAbout .productAboutContent.expand,
  #productData .productTechnicalDetails .productTechnicalDetailsContent.expand {
    max-height: 19vh;
  }
  #productPriceDiv {
    width: 100%;
  }
}
