@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quicksand:wght@600&display=swap');

#productInformations {
  width: 95%;
  height: 60%;
  color: white;
}
#productInformations #images {
  display: block;
  float: left;
  height: 100%;
  overflow-y: auto;
  background-color: #0d0c16;
}
#productInformations #images img {
  padding: 10px;
}
#productInformations #images img.selected {
  border: 1px solid #fff;
}

#productInformations #highresImages {
  float: left;
  width: 520px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#productInformations #highresImages img {
  display: none;
}
#productInformations #highresImages img.highresSelected {
  display: flex;
  max-width: 500px;
  max-height: 500px;
}

#productInformations #productData {
  float: left;
  width: 30%;
  height: 100%;
  border: 1px solid #0d0c16;
  text-align: center;
}
#productData #productBasicInformations {
  display: inline-block;
  width: 94%;
}
#productData #productBasicInformations h1,
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: large;
}
#productData #productBasicInformations #reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
#productData #productBasicInformations #reviews h4 {
  padding-left: 6px;
}

#productData .productDetails,
#productData .productAbout,
#productData .productTechnicalDetails {
  width: 94%;
  display: inline-block;
  text-align: left;
}
#productData .productDetails .productDetailsHeaderAndButton,
#productData .productAbout .productAboutHeaderAndButton,
#productData .productTechnicalDetails .productTechnicalDetailsHeaderAndButton {
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  padding-bottom: 5px;
  display: flex;
}
#productData .productDetails .productDetailsHeaderAndButton button,
#productData .productTechnicalDetails .productTechnicalDetailsHeaderAndButton button,
#productData .productAbout .productAboutHeaderAndButton button {
  margin-left: auto;
}
#productData .productDetails .productDetailsContent,
#productData .productAbout .productAboutContent,
#productData .productTechnicalDetails .productTechnicalDetailsContent {
  display: none;
}
#productData .productDetails .productDetailsContent.active,
#productData .productAbout .productAboutContent.active,
#productData .productTechnicalDetails .productTechnicalDetailsContent.active {
  display: block;
}
#productData .productDetails .productDetailsContent ol,
#productData .productAbout .productAboutContent ol,
#productData .productTechnicalDetails .productTechnicalDetailsContent ol {
  list-style-type: disc;
  list-style-position: inside;
  padding: 2px 2px 2px 20px;
}
#productData .productDetails .productDetailsContent li span,
#productData .productAbout .productAboutContent li span,
#productData .productTechnicalDetails .productTechnicalDetailsContent li span {
  position: relative;
  left: -10px;
}
