#mainUser {
  width: 90%;
  height: 100%;
  display: block;
  position: relative;
}

/* Orders setup */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 70px;
  height: 100%;
}
.details .recentOrders {
  position: relative;
  display: block;
  background: #111111;
  border: 1px solid #424242;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 20px;
  margin-bottom: 5vh;
  min-height: auto;
}
.details h2 {
  font-size: 1.5em;
  font-weight: 700;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.btn {
  position: relative;
  padding: 6px 12px;
  background-color: #0358eb;
  color: #fff;
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
  padding: 3px;
}
.details table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}
.details table tbody tr:hover {
  background-color: #272727;
  color: #fff;
  transition: 0.4s ease-in-out;
}
.details table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.userDataAndFavouritesData {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
}
/*User setup */

.userData,
.favouritesData {
  position: relative;
  display: block;
  min-height: 300px;
  background: #111111;
  border: 1px solid #424242;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 20px;
  margin-bottom: 50px;
}
.userData table tr td,
.favouritesData table tr td {
  padding: 18px;
}
.userData table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

/* Favourites setup */

@media screen and (max-width: 1270px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .details .recentOrders table tr td {
    padding: 3px;
  }
}

@media screen and (max-width: 680px) {
  .recentOrders table tbody td:nth-child(2) {
    font-size: 0.6em;
  }
  .details {
    padding: 0;
  }
  .details .recentOrders,
  .userData,
  .favouritesData {
    width: 89vw;
  }
}
