@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
html,
div::-webkit-scrollbar {
  width: 8px;
  background-color: #25223b;
}
html,
div::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
html,
div::-webkit-scrollbar-thumb {
  background-color: #0d0c16;
}
html,
body,
#root,
#App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
