@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
}
html,
div::-webkit-scrollbar {
  width: 8px;
  background-color: #0e1011;
}
html,
div::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
html,
div::-webkit-scrollbar-thumb {
  background-color: #0e1011;
}
html,
body,
#root,
#App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
