#priceChart {
  float: left;
  width: 43vw;
  min-width: 400px;
  height: calc(14vw + 22vh);
  padding: 20px;
  border-radius: 10px;
  background-color: #111111;
  border: 1px solid #424242;
  display: block;
  position: relative;
}

#priceChart input {
  background-color: #111111;
  color: #fff;
  border: 1px solid #424242;
  margin: 5px;
}
