.sidebar {
  height: 100%;
  width: 72px;
  background-color: #0d0c16;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px 12px;
  transition: all ease 400ms;
}
.sidebar.active {
  width: 220px;
}
.sidebar .logo_content .logo {
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.sidebar .logo-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
.sidebar .menu {
  position: absolute;
  color: white;
  left: 50%;
  top: 22px;
  font-size: 32px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active .menu {
  left: 90%;
}
.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li {
  height: 50px;
  width: 100%;
  position: relative;
  line-height: 50px;
}
.sidebar ul li a {
  display: flex;
  color: white;
  align-items: center;
  transition: all ease 200ms;
  border-radius: 12px;
}
.sidebar ul li a:hover {
  color: #0d0c16;
  background-color: #fff;
}
.sidebar ul li .icon {
  height: 15px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  display: flex;
  justify-content: center;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  background-color: #fff;
  left: 122px;
  top: 0px;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  transition: all ease 250ms;
  opacity: 0;
  pointer-events: none;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar ul li:hover .tooltip {
  top: 50%;
  opacity: 1;
}

/* topbar */
.topbar {
  height: 60px;
  position: relative;
  width: calc(100%-72px);
  left: 72px;
  background-color: #0d0c16;
  padding: 12px 12px;
}
.navbar.active .topbar {
  width: calc(100%-220px);
  left: 220px;
  transition: all ease 400ms;
}
.topbar .searchBox {
  position: absolute;
  height: 70%;
  width: 30%;
  transform: translateY(20%);
  left: 25%;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #25223b;
  color: #fff;
  padding-left: 40px;
  font-size: 18px;
  transition: all ease 400ms;
}
.topbar .searchBar .searchResults {
  padding: 5px;
  opacity: 0;
  position: absolute;
  height: 70%;
  width: 30%;
  transform: translateY(25%);
  left: 25%;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #25223b;
  color: #fff;
  font-size: 18px;
  transition: all ease 400ms;
  height: 250px;
  overflow-y: scroll;
  z-index: 10;
}
.topbar .searchBar .searchResults::-webkit-scrollbar {
  width: 10px;
  border-radius: 12px;
}
.topbar .searchBar .searchResults::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.topbar .searchBar .searchResults::-webkit-scrollbar-thumb {
  background-color: #0d0c16;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  min-height: 30px;
}
.topbar .searchBar.active .searchResults {
  opacity: 1;
}
.topbar .searchBar li {
  cursor: pointer;
  color: rgb(214, 214, 214);
  list-style: none;
  transition: all ease 400ms;
}
.topbar .searchBar li:hover {
  transition: all ease 400ms;
  background-color: #502eb6;
  border-radius: 8px;
}
.navbar.active .topbar .searchBox {
  left: 16%;
}

.topbar .searchBox::placeholder {
  opacity: 0.6;
}
.topbar .searchIcon {
  position: absolute;
  color: #fff;
  z-index: 99;
  font-size: 22px;
  left: calc(25% + 10px);
  transform: translateY(35%);
  transition: all ease 400ms;
}
.navbar.active .topbar .searchIcon {
  left: calc(16% + 10px);
}
.topbar img {
  background-color: #fff;
  padding: 2px;
  border-radius: 16px;
  position: absolute;
  right: calc(5% + 50px);
  cursor: pointer;
  transition: all ease 400ms;
}
.navbar.active .topbar img {
  right: calc(10% + 110px);
}
